#!/bin/sh
#
# callback          Start/Stop the callback daemon.
#
# chkconfig: 2345 80 80
# description: a2billing-callback-daemon is a daemon who check if a new call have to be initiate
# processname: a2billing-callback-daemon
# pidfile: /var/run/a2billing-callback-daemon.pid

# Source function library.
INITD=/etc/rc.d/init.d
. $INITD/functions


NAME='a2billing-callback-daemon'
A2BDAEMON='/var/lib/asterisk/a2billing/callback-daemon/a2billing-callback-daemon'
# Clean

# See how we were called.
case "$1" in
  start)
	daemon $A2BDAEMON
	echo "Starting $NAME: "
	touch /var/lock/subsys/a2billing-callback
	;;
  stop)
  	killproc $A2BDAEMON
	echo "Stopping $NAME: "	
	rm -f /var/lock/subsys/a2billing-callback
	;;
  status)
	status $A2BDAEMON
	r=$?; if [ $r -ne 0 ]; then exit $r; fi
	;;
  restart)
	$0 stop
	$0 start
	;;
  *)
	echo "Usage: $0 {start|stop|status|restart}"
	exit 1
esac

exit 0
