#kiki .w1 {
  border: solid #FAB000;
  border-width: 0px 1px 1px 0px;
  position: relative;
  top: 1px;
  left: 1px;
  padding: 0.5em;
  background-image: url(../images/kicons/help_index.gif);
  background-repeat: no-repeat;
  background-position: 100% 100%;    
  padding: 2px;
  padding-right: 70px; 
  padding-left: 7px; 
}

#img1000 {
  padding-right: 30px; 
  padding-left: 30px; 
}

#kiki {
  position: relative;
  background-color: #FFEFC7;
  background-image: url(../images/orangeshadet.gif);
  background-repeat: repeat-x;
  background-position: 0% 0%;
  margin-bottom: 1em;
  color: #BD2A15;
  
  margin-right: 35px;  
  margin-left: 35px;
}




#kiblue_header {
  position: relative;
  background-image: url(../images/blueshade.png);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  margin-bottom: 1em;
  color: #BD2A15;
  margin-right: 55px;  
  margin-left: 55px;  
}


#kiblue {
  position: relative;
  background-image: url(../images/blueshade.png);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  margin-bottom: 1em;
  color: #BD2A15;  
  margin-right: 55px;  
  margin-left: 55px;
}

#kiblue .w1 {
  border: solid #B0B0FA;
  border-width: 0px 1px 1px 0px;
  position: absolute;
  background-color:#E3F6FF;
  top: 1px;
  left: 1px;
  background-image: url(../images/asterisklogot_blue.gif);
  background-repeat: no-repeat;
  background-position: right;  
  font-size: 9px;
  width: 100%;
  display: table-cell; 
  min-height:75px; 
}

.kikipic {
	position: relative;
	float: left;
	left: 1px;
	margin-right: 15px; 	
}


td, th, h3, input { /* redundant rules for bad browsers  */
	font-family: verdana, sans-serif;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

a:link { color: #039; }
a:visited { color: #609; }
a:hover { color: #333; }
a:active { color: #000; }

#header a:visited { color: #039; }
#header a:hover { color: #333; }

#mBody li { padding-bottom: 0.5em; }

.sidebar_content > h1,.sidebar_content > h2,.sidebar_content > h3,.sidebar_content > h4,.sidebar_content > h5,.sidebar_content > h6,.sidebar > h1,.sidebar_general > h2,.sidebar_general > h3,.sidebar_general > h4,.sidebar_general > h5,.sidebar_general > h6 {
	margin-top: 0;
}

.sidebar_right {
	margin-left: 65%;
}

.sidebar_general ul {
	margin-left: 0;
	padding-left: 20px;
}

.sidebar_general li {
	padding: 0.2em 0;
}

img.imgright {
	float: right;
}

img {
	border: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1em 1em;
}

.skipLink {
	position: absolute;
	left: -1200px;
	width: 990px;
}

.hide {
	display: none;
}

ul.compact {
	margin-left: 0;
	padding-left: 20px;
}

img.rss {
	float: right;
	margin: 0;
	padding: 4px 4px 0 0;
}

.first { margin-top: 0.2em; }

.requires img {
	vertical-align: middle;
}

/* Headers */

#mainContent > h1:first-child,
#mainContent > h2:first-child,
#mainContent > h3:first-child,
#mainContent > h4:first-child,
#mainContent > h5:first-child,
#mainContent > h6:first-child,
#side > h1:first-child,
#side > h2:first-child,
#side > h3:first-child,
#side > h4:first-child,
#side > h5:first-child,
#side > h6:first-child {
	margin-top: 0;
}
body {
	/* background: #fff url("../images/body_back.gif") repeat-x; */
	background: #fff url("../images/bg5.jpg") repeat-x;
	background-attachment: fixed;
}

/* Sidebar */

#nav_before {
	line-height: 0.1;
	font-size: 1px;
	background: #E0E9E9 url("../images/menu_tr.gif") no-repeat top right;
	margin: 0;
	height: 9px;
	display: block;
	border-bottom: 1px solid #ddd;
	content: url("../images/key-point_tl.gif");
}
#nav {
	/* background: #E0E9E9 url("../images/menu_back.gif") right repeat-y; */
}
#nav_after {
	display: block;
	padding-top: 0;
	line-height: 0.1;
	font-size: 1px;
	content:  url("../images/key-point_bl.gif");
	margin: 0 0 0 0;	
	height: 9px;
	background: #E0E9E9 url("../images/menu_br.gif") scroll no-repeat bottom right ;
	border-top: 1px solid #fff;
}

#nav, #nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

#nav li span { /* used for un-linked menu items */
	display: block;
	padding: 6px 10px;
	font-weight: bold;
	color: #666;
}

#nav li span#configParent, #nav li span #configuration {
	display: inline;
	font-weight: normal;
	padding: 0;	
}

#nav li a {
	display: block;
	font-size: 11px;
	padding: 2px 10px;
	text-decoration: none;
	background: #EDF2F2;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	border-right: 1px solid #ddd;
}

#nav li a:hover {
	background: #E0E9E9;
}

#nav ul li span,#nav ul li a {
	padding: 2px 18px 2px 20px;
	font-size: 10px;	
	height : 11px;
}


#side {
	float: left;
	width: 100%;
	margin-bottom: 1em;
}
#kiki .w2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}
