
a:link {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:visited {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:active {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:hover {
   	font-family: Arial,Verdana;
	color: #55AAFF;
	text-decoration: underline;
}

table {
	font-family: Arial,Verdana;
	font-size: 7px;
}

.table_auth {
	border: #3399ff dotted 1px;
}

body {
	font-family: Arial,Verdana;
	color: #666666;
}



.upload_textfield {
	font-family: Arial,Verdana;
	font-size: 9px;
	color: #666666;
	border: solid 1px;
	border-color: #DBDBDB;
	background-image: url('../images/textfield.gif');
}

.upload_button {
	font-family: Arial,Verdana;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #3399FF;
	border: solid 0px;
}

textarea {
	font-family: Arial,Verdana;
	font-size: 9px;
	color: #666666;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #DBDBDB;
	overflow:hidden;
}

.text-copy_link {
	color: #C0C0C0;
	text-decoration: none;
	font-size: 9px;
	cursor: default;
}

.select {
	font-family: Arial,Verdana;
	font-size: 9px;
	color: #666666;
	background-color: #FFFFFF;
}
