/*
 * Global Styles
 */

body {
  color: #333;
  background-color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

div {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 1.2em;
  font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
}

h3 {
  font-size: 1em;
  margin-top: 1.5em;
  font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
}


h4 {
  font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
  margin-top:	1.5em
}



sup {
  font-size: 9px
}

small small {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}







