
a:link {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:visited {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:active {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:hover {
   	font-family: Arial,Verdana;
	color: #55AAFF;
	text-decoration: underline;
}



body {
	font-family: Arial,Verdana;
	color: #666666;
	/* background: #fff url("../images/body_back.gif") repeat-x; */
	background: #fff url("../images/bg5.jpg") repeat-x;
	background-attachment: scroll;
}


td, th, h3, input { /* redundant rules for bad browsers  */
	font-family: verdana, sans-serif;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

