a {
  text-decoration: none;
  color: #c03000;
}

a:hover {
  text-decoration: underline;
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: url("../gfx/html.gif");
}

body {
  position: relative;
  width: 940px;
  min-height: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  font: 62.5% arial, tahoma, helvetica, sans-serif;
  color: #000;
  background: #fff url("../gfx/body.gif") repeat-y;
}

h1 {
  margin: 0 10px;
  padding: 10px 10px;
  border-top: 1px solid #8A6E5A;
  border-bottom: 1px solid #8A6E5A;
  font-size: 2em;
  font-weight: normal;
  color: #fff;
  background: #8A6E5A;
}


#select {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 370px;
  text-align: right;
}

#select select {
  width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
  float: left;
  width: 451px;
  margin: 10px 0 0 10px;
  padding: 1px;
  border: 1px solid #5A7E8A;
}


h2 {
  padding: 5px 10px;
  font-family: "trebuchet ms";
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.0em;
  text-transform: uppercase;
  color: #fff;
  background: #5A7E8A;
}

table {
  width: 100%;
  font-size: 1.2em;
}

th, td, h3 {
  padding: 4px 10px 2px 10px;
  line-height: 1.6;
  text-align: left;
  vertical-align: top;
}

.odd{
  background: #d6d6d6;
}

#footer {
  clear: both;
  color: #c9c9c9;
  margin: 12px;
  padding: 13px 25px;
  line-height: 18px;
}

#memory, #filesystem {
  width: 915px;
}

.bar {
  background: #C1DC70 url("../gfx/html.gif");
}

p {
  padding: 4px 10px 2px 10px;
  line-height: 1.6;
  text-align: left;
  vertical-align: top;
}

#filesystemTable thead tr .header {
  background-image:url("../gfx/bg.gif");
  background-position:right center;
  background-repeat:no-repeat;
  cursor:pointer;
}

#filesystemTable thead tr .headerSortUp {
  background-image:url("../gfx/asc.gif");
}

#filesystemTable thead tr .headerSortDown {
  background-image:url("../gfx/desc.gif");
}

.right {
  text-align: right;
  padding-right: 20px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
  padding: 0px 30px;
}